html {
  font-family: helvetica;
  text-align: center;
}

#header {
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-repeat: no-repeat;
}

#header h1 {
  font-size: 70px;
  font-weight: bold;
}

.menu p {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

#new-york {
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

#footer {
  background-color: dimgray;
  font: white;
  font-size: 11px;
  text-align: left;
}

p {
  font-size: 14px;
}

a {
  color: white;
}
